.container {
    max-width: 1100px;
    margin: auto;

}  

.container article {
    display: block;
    background-color: #d7d4d4;
    padding: 20px;
    margin: 15px;
    border-radius: 20px;
}


.container img {
    width: 250px;
    float: left;
}

.clear {
    clear:both;
    
}