.adminCat table,
.adminCat td {
    border: 1px solid #333;
    padding: 3px;
    line-height: 1.2;
    text-align: center;
}

.button {
    padding: 5px 5px;

}


.adminCat thead,
.adminCat tfoot {
    background-color: #515151;
    color: #fff;
}

.tableH { 
    overflow: auto;
    height: 100px; 
    margin : 0px;  
    text-align: left;
    
}
.noPad {
    padding: 0px !important;
}
 
.onOver:hover{
    cursor: pointer;
}
 